__pycache__/
egs/
data/__pycache__
log
pth
visual
recognize/__pycache__
speechtransformer/__pycache__
streaming/__pycache__
train/__pycache__
rnntransducer/data/__pycache__
rnntransducer/model/__pycache__
rnntransducer/train/__pycache__
Ttransducer/__pycache__
Ttransducer/data/__pycache__
Ttransducer/model/__pycache__
Ttransducer/model/backbone/__pycache__
Ttransducer/train/__pycache__
n_gram/__pycache__
Eval_latency/__pycache__
Eval_latency/test
Eval_latency/read
result/conformer
result/latency
result/lm
result/relconformer
result/streaming
result/transformer-post
result/transformer-pre
result/Ttransducer